---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found" showNavbar={false}>
  <main
    class="flex flex-1 flex-col items-center justify-center text-center px-4"
  >
    <h1 class="animate-type text-black dark:text-white md:text-6xl md:pb-6">
      404 | Page not found
    </h1>
    <a href="/" class="back-button"> Back to home page </a>
  </main>